In [12]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
# import pandas_ta
import warnings
warnings.filterwarnings('ignore')


sp500 = pd.read_html ('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500['Symbol'] = sp500['Symbol'].str.replace('.','-')
symbols_list = sp500['Symbol'].unique().tolist()
end_date = '2023-11-19'
start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)
df = yf.download(tickers=symbols_list, start=start_date, end=end_date)
df.stack()

[*********************100%%**********************]  503 of 503 completed

                  Adj Close       Close        High         Low        Open  \
Date
2015-11-23 A      37.476852   40.029999   40.070000   39.139999   39.290001
           AAL    40.423809   42.299999   42.740002   41.810001   42.110001
           AAPL   26.799692   29.437500   29.932501   29.334999   29.817499
           ABBV   43.283791   61.150002   61.529999   60.840000   61.310001
           ABT    39.117043   45.439999   46.099998   45.259998   46.029999
...                     ...         ...         ...         ...         ...
2023-11-17 YUM   127.660004  127.660004  128.490005  127.250000  128.419998
           ZBH   111.669998  111.669998  112.660004  111.330002  112.349998
           ZBRA  218.020004  218.020004  218.699997  215.270004  218.460007
           ZION   36.070000   36.070000   36.470001   35.400002   36.250000
           ZTS   174.800003  174.800003  177.699997  173.699997  177.410004

                      Volume
Date
2015-11-23 A       6473400.0
           AAL     4166100.0
           AAPL  129930000.0
           ABBV    6405000.0
           ABT     4593800.0
...                      ...
2023-11-17 YUM     1089600.0
           ZBH     2991400.0
           ZBRA     340600.0
           ZION    2136200.0
           ZTS     2425100.0

[994335 rows x 6 columns]